.text-center {
    text-align: center;
    background-color: #85B79D;
    padding: 23px;
    height: 3rem;
    margin: 5px;
}
.mx-auto {
    margin: auto;
}
.container{
    background-color: #C0E5C8;
}
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}